.listItem{
    /* display: flex; */
    cursor: pointer;
    background-color: #2e333d;
    line-height: 70px;
    width:200px;
    height: 70px;
    margin: 15px auto;
    border-radius: 1rem;

}

a{
    color: rgb(255, 255, 255) !important;
    letter-spacing: .07rem;
}
.activePhNO{
    background-color: #131313;
}