body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}


.fullScreen{
    width: calc(100vw);
background-color: #131313;
border-radius: 1.5rem;
    height: calc(100vh);

    /* margin-top: 40px; */
}
.countryContainer{
    flex:1;
    margin : 7% auto 20px;
    overflow-y: scroll;
}
.combined{
    background-color: #202329;
    flex:5;
    border-radius: 1.5rem;
    /* margin-top:40px; */

}
.phoneNumbersContainer{
    /* width: 350px; */
    margin-top: 50px;
    flex:1;
    /* height: 100vh; */
    
    
    overflow-y: scroll;
    scroll-behavior: smooth;
 }
 
.msgsContainer{
    height: 100vh;
    padding-top: 100px;
    flex: 4;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* align-items: center; */
    /* text-align: center; */
    
    
}

::-webkit-scrollbar{
	width: 4px;
    
}

/* ::-webkit-scrollbar-track-piece{
	background-color: #FFF;
} */

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	/* outline: 2px solid #FFF; */
	/* outline-offset: -2px; */
	border: 0.01px solid #B7B7B7;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}
