body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}


.fullScreen{
    width: calc(100vw);
background-color: #131313;
border-radius: 1.5rem;
    height: calc(100vh);

    /* margin-top: 40px; */
}
.countryContainer{
    /* flex:1; */
    margin : 110px 0px 20px;

    overflow:hidden scroll;

}
.combined{
    background-color: #202329;
    flex:13;
    border-radius: 1.5rem;
    /* margin-top:40px; */

}
.phoneNumbersContainer{
    /* width: 350px; */
    margin-top: 50px;
    flex:1;
    /* height: 100vh; */
    
    
    overflow-y: scroll;
    scroll-behavior: smooth;
 }
 
.msgsContainer{
    height: 100vh;
    padding-top: 100px;
    flex: 4;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* align-items: center; */
    /* text-align: center; */
    
    
}
.logo{
    min-width:64px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    /* margin-left: 40px; */
    top:10px;
    left: 30px;
}
.logoImg{
    width:64px;


    position: absolute;
    /* margin-left: 40px; */
    /* top:10px; */
    /* left: 30px; */
}
.brandName{
    position: relative;
    /* margin-left: 40px; */
    top:70px;
    left: -3px;
    font-size: 14px;
}

::-webkit-scrollbar{
	width: 4px;
    
}

/* ::-webkit-scrollbar-track-piece{
	background-color: #FFF;
} */

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
    /* background-color: #6B8AFD; */
	/* outline: 2px solid #FFF; */
	/* outline-offset: -2px; */
	/* border: 0.01px solid #B7B7B7; */
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}
