.msgbox {
  display: flex;
  /* text-align: center; */
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  margin: 20px auto;
  width: 620px;
  min-height: 9rem;
  border-radius: 20px;
  /* background-color: #6b8afd; */
  background-color: #2e333d;
  position: relative;
}
.from {
  /* FROM */
  letter-spacing: 0.1em;
  position: absolute;
  left: 40px;
  top: 15px;
  /* font-size: 3.4em; */
}
.msgContent {
  /* Actual message */
  /* display: flex; */
  padding: 50px 0px;
  text-wrap: wrap;
  margin: auto 0px;
  width: 80%;
  position: relative;
  bottom: -10px;
}
.time {
  /* Time */

  position: absolute;
  /* bottom: 4px; */
  right: 40px;
  top: 15px;
  color: rgb(225, 241, 255, 0.5);
}
.skleton {
  background-color: rgb(46, 51, 61, 0.5);
}
